
/*** Fruits Start ***/
.fruite .tab-class .nav-item a.active {
    background: var(--bs-secondary) !important;
}

.fruite .tab-class .nav-item a.active span {
    color: var(--bs-white) !important; 
}

.fruite .fruite-categorie .fruite-name {
    line-height: 40px;
}

.fruite .fruite-categorie .fruite-name a {
    transition: 0.5s;
}

.fruite .fruite-categorie .fruite-name a:hover {
    color: var(--bs-secondary);
}

.fruite .fruite-item {
    height: 100%;
    transition: 0.5s;
}
.fruite .fruite-item:hover {
    box-shadow: 0 0 55px rgba(0, 0, 0, 0.4);
}

.fruite .fruite-item .fruite-img {
    overflow: hidden;
    transition: 0.5s;
    border-radius: 10px 10px 0 0;
}

.fruite .fruite-item .fruite-img img {
    transition: 0.5s;
}

.fruite .fruite-item .fruite-img img:hover {
    transform: scale(1.3);
}
/* Enabled Button */
.btn-secondary {
    background-color: #f8f9fa; /* Light background color */
    border-color: #6c757d; /* Button border color */
    color: #007bff; /* Button text color */
  }
  
  /* Disabled Button */
  .btn-secondary:disabled {
    background-color: transparent; /* Transparent background color */
    border-color: #6c757d; /* Button border color */
    color: #6c757d; /* Disabled button text color */
  }
  .custom-dark-text {
    color: #343a40; /* Dark text color */
  }
  .block-paragraph {
    display: block;
  }
  .button-Less3 {
    background-color: #81c408;
    color: #f8f9fa !important;
  }
  
  .custom-danger-text {
    color: #dc3545; /* Danger text color */
  }
  
/*** Fruits End ***/
