
    <div class="rounded position-relative fruite-item">
        <div class="fruite-img">
            <img [src]="product.image" class="img-fluid w-100 rounded-top" alt="">
        </div>
        <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">Fruits</div>
        <div class="p-4 border border-secondary border-top-0 rounded-bottom">
            <h4>{{product.name}}</h4>
            <p>{{product.description}}</p>
            <div class="d-flex justify-content-between   flex-column    flex-lg-wrap">
                <p class=" text-dark fs-5 fw-bold mb-0 ">${{product.price}} / kg</p>
                <p class="fs-5 fw-bold mb-0"  
   [ngClass]="{'custom-dark-text': product.quantity !== 0, 'custom-danger-text': product.quantity === 0}">
  {{ product.quantity !== 0 ? product.quantity  + '  Pieces': 'Out Of Stock' }} 
</p>

                  
<button type="button" 
[disabled]="product.quantity === 0 ? true : null" 
[ngClass]="{'button-Less3': product.quantity < 3&&product.quantity !== 0}" 
class="btn btn-secondary rounded-pill px-3 text-primary">
<i class="fa fa-shopping-bag me-2 text-primary"></i> 
Add to cart
</button>
<a  [routerLink]="['products',product.id,'edit']"
            [routerLinkActive]="'text-danger'"
            [routerLinkActiveOptions]="{ exact: true }" 
class="btn btn-secondary rounded-pill px-3 text-primary">
<i class="fa fa-shopping-bag me-2 text-primary"></i> 
Edite 
</a>
<button (click)="delete(product.id)"   
class="btn btn-secondary rounded-pill px-3 text-primary">
<i class="fa fa-shopping-bag me-2 text-primary"></i> 
delete 
</button>

            </div>
        </div>
    </div>

